/* --- Style du Bouton Accueil (Maison) --- */

.btn-accueil {
    /* Positionnement */
    position: fixed;
    top: 20px;
    left: 10rem;
    z-index: 2000;
    /* Taille réduite (plus discret) */
    width: 5rem;
    height: 5rem;
    /* Forme ronde */
    border-radius: 50%;
    /* Couleurs de base (Noir fond / Blanc icône) */
    background-color: #121212;
    color: #ffffff;
    /* Centrage de l'icône */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* Enlève le soulignement du lien */
    /* Transitions fluides */
    transition: all 0.3s ease-in-out;
}


/* Taille de l'icône FontAwesome */

.btn-accueil i {
    font-size: 18px;
    /* Taille de la maison */
}


/* --- Effets au survol (Hover) --- */

.btn-accueil:hover {
    /* Zoom (Grossit de 15%) */
    transform: scale(1.15);
    /* Inversion des couleurs (Blanc fond / Noir icône) */
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
    /* Petite ombre lumineuse */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.input-box {
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

.input-box input {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: white;
    padding-right: 40px;
    transition: border-color 0.3s ease, background-color 0.3s ease, box-shadow 1s ease;
}

.input-box input:focus {
    border-color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.input-box input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.input-box i {
    position: absolute;
    transform: translateY(-50%);
    right: 20px;
    top: 50%;
    color: white;
}